<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>607875700010-be7v2toapljcl74ub6flpm2jutqg6nau.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.607875700010-be7v2toapljcl74ub6flpm2jutqg6nau</string>
	<key>API_KEY</key>
	<string>AIzaSyC6mRNBlp3Pif2NvA80AYB49HihuIPqRqA</string>
	<key>GCM_SENDER_ID</key>
	<string>607875700010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-e1724</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-e1724.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:607875700010:ios:8b0391df89a13373</string>
	<key>DATABASE_URL</key>
	<string>https://todolist-e1724.firebaseio.com</string>
</dict>
</plist>